# Netbeans folders #
kdv_node_unload.txt
kdv_unload.txt
build/
*.xml
*.mf
nbproject/
dist/

# IntelliJ folders # 
.idea
*.iml
*.iws
out/

# Eclipse folders # 
bin/
.classpath
.project
.settings

# Other Files #
*.jar
*.war
*.ear
*.class
